@import '../../../styles/base/mixins.scss';

.container {
  width: 750px;
  margin: auto;
  border-radius: 8px;
  padding: 2rem;
  background: var(--white);
  @include box-shadow-gay();
  @include flex($direction: column);
  .header-crud {
    width: 50%;
    @include flex(center, space-between);
    .title-crud {
      font-size: 28px;
      font-weight: bold;
      color: var(--dark);
    }
    i {
      font-size: 24px;
      color: var(--dark);
      cursor: pointer;
      padding: 8px;
      border-radius: 50%;
      box-sizing: border-box;
      &:hover {
        background: var(--blue-1);
      }
    }
  }
}
.content-info {
  margin-top: 2rem;
  @include flex();
  .form-crud {
    flex: 1;
    @include flex(stretch, flex-start, column);
    .inputs {
      @include flex();
      .content-input {
        margin-right: 16px;
        &:last-child {
          margin-right: 0px;
        }
      }
    }
    .btn {
      height: 30px;
      border: none;
      border-radius: 8px;
      background: var(--blue-2);
      color: var(--white);
      margin-top: 1rem;
      &:focus {
        outline: none;
      }
    }
  }
  .img {
    flex: 0.8;
    @include flex(center, center);
    .image {
      height: 250px;
      width: 250px;
      cursor: pointer;
      img {
        height: 100%;
        width: 100%;
        border-radius: 16px;
        object-fit: cover;
      }
    }
  }
}

.item-form {
  min-height: 30px;
  padding: 12px 0px 6px 0px;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--blue-2);
  flex: 1;
  &.invalid {
    border-bottom: 1px solid var(--red-1);
  }
  .label {
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 16px;
    color: var(--gray-1);
  }
  input {
    width: 100px;
    border: none;
    &:focus {
      outline: none;
    }
  }
  textarea {
    font-size: 16px;
    color: var(--dark);
    height: 2rem;
    width: 100%;
    &:focus {
      outline: none;
    }
  }
}

.invalid-span {
  font-size: 12px;
  color: var(--red-1);
  position: relative;
  top: -8px;
}
