<div class="container">
  <div class="header-crud">
    <span class="title-crud">
      <span *ngIf="isCreate">Create user</span>
      <span *ngIf="!isCreate">Update user</span>
    </span>
    <i class="fas fa-long-arrow-alt-left" (click)="goBack()"></i>
  </div>
  <div class="content-info">
    <form [formGroup]="formT" class="form-crud">
      <div class="inputs">
        <div class="content-input">
          <div class="item-form" [ngClass]="{'invalid': isValid('firstName')}">
            <span class="label">First Name*</span>
            <input type="text" formControlName="firstName">
          </div>
          <span class="invalid-span" *ngIf="isValid('firstName')">
            This fiel is required, minimum 5 letters
          </span>
        </div>
        <div class="content-input">
          <div class="item-form" [ngClass]="{'invalid': isValid('lastName')}">
            <span class="label">Last Name*</span>
            <input type="text" formControlName="lastName">
          </div>
          <span class="invalid-span" *ngIf="isValid('lastName')">
            This fiel is required, minimum 5 letters
          </span>
        </div>
      </div>
      <div class="inputs">
        <div class="content-input">
          <div class="item-form" [ngClass]="{'invalid': isValid('userType')}">
            <span class="label">User Type*</span>
            <select formControlName="userType">
              <option value="Administrator">Administrator</option>
              <option value="Client">Client</option>
            </select>
          </div>
          <span class="invalid-span" *ngIf="isValid('userType')">
            Select a user type
          </span>
        </div>
        <div class="content-input">
          <div class="item-form" [ngClass]="{'invalid': isValid('celphone')}">
            <span class="label">celphone*</span>
            <input type="text" formControlName="celphone">
          </div>
          <span class="invalid-span" *ngIf="isValid('celphone')">
            Type a phone number
          </span>
        </div>
      </div>
      <div class="inputs">
        <div class="content-input">
          <div class="item-form" [ngClass]="{'invalid': isValid('gender')}">
            <span class="label">genero*</span>
            <select formControlName="gender">
              <option value="male">male</option>
              <option value="female">female</option>
            </select>
          </div>
          <span class="invalid-span" *ngIf="isValid('gender')">
            Select a gender
          </span>
        </div>
        <div class="content-input">
          <div class="item-form" [ngClass]="{'invalid': isValid('age')}">
            <span class="label">Age*</span>
            <input type="number" formControlName="age">
          </div>
          <span class="invalid-span" *ngIf="isValid('age')">
            Type a age
          </span>
        </div>
      </div>
      <div class="inputs">
        <div class="content-input">
          <div class="item-form" [ngClass]="{'invalid': isValid('email')}">
            <span class="label">Email*</span>
            <input type="email" formControlName="email">
          </div>
          <span class="invalid-span" *ngIf="isValid('email')">
            This Email is invalid
          </span>
        </div>
        <div class="content-input">
          <div class="item-form" [ngClass]="{'invalid': isValid('password')}">
            <span class="label">Password*</span>
            <input type="password" formControlName="password">
          </div>
          <span class="invalid-span" *ngIf="isValid('password')">
            This Email is invalid
          </span>
        </div>
      </div>
      <div class="content-input">
        <div class="item-form" [ngClass]="{'invalid': isValid('birthdate')}">
          <span class="label">Birthdate*</span>
          <input type="date" formControlName="birthdate">
        </div>
        <span class="invalid-span" *ngIf="isValid('birthdate')">
          Choose a birthday
        </span>
        <span class="invalid-span" *ngIf="isBirthdayValid">
          The birthday must be greater than 18 age
        </span>
      </div>
      <div class="content-input">
        <div class="item-form" [ngClass]="{'invalid': isValid('description')}">
          <span class="label">Description*</span>
          <textarea rows="10" type="text" formControlName="description"></textarea>
        </div>
        <span class="invalid-span" *ngIf="isValid('description')">
          Type a description
        </span>
      </div>
      <button class="btn" (click)="create()" *ngIf="isCreate">Create user</button>
      <button class="btn" (click)="update()" *ngIf="!isCreate">Update user</button>
    </form>
    <div class="img">
      <div class="image">
        <img src="../../../assets/user.png" alt="">
      </div>
    </div>
  </div>
</div>