<span class="dashboard-title">Dashboard</span>
<div class="content-dashboard">
  <div class="header-dashboard">
    <span class="title-content">Users</span>
    <i class="fas fa-plus" (click)="goToCrud('create')"></i>
  </div>
  <div class="list-users">
    <ng-container *ngFor="let item of (users$ | async)">
      <app-item-user 
        [user]="item" 
        [userSelected]="(userSelected$ | async)" 
        (userE)="userClick($event)"
        (deleteUser)="deleteUser($event)"
        (changeFavorite)="changeFavorite($event)">
      </app-item-user>
    </ng-container>
  </div>
</div>