@import '../../../../styles/base/mixins.scss';

.dashboard-title {
  font-size: 42px;
  font-weight: bold;
  color: var(--dark);
}
.content-dashboard {
  margin-top: 2rem;
  .title-content {
    font-size: 18px;
    font-weight: bold;
    color: var(--dark);
  }
}

.header-dashboard {
  height: 40px;
  @include flex(stretch, space-between);
  i {
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    box-sizing: border-box;
    &:hover {
      background: var(--blue-1);
    }
  }
}

.list-users {
  max-height: 370px;
  overflow: auto;
  padding: 8px;
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: none;
  }
}
