<span class="dashboard-title">Favorites</span>
<div class="content-dashboard">
  <div class="header-dashboard">
    <span class="title-content">Favorites</span>
  </div>
  <div class="list-users">
    <ng-container *ngFor="let item of (favorites$ | async)">
      <app-item-user 
        [user]="item" 
        [userSelected]="(userSelected$ | async)" 
        (userE)="userClick($event)">
      </app-item-user>
    </ng-container>
  </div>
</div>