<div class="container">
  <div class="slider-left">
    <span class="slider-left-title">Developer Tests</span>
    <div class="content-slider-left">
      <ng-container *ngFor="let item of itemsSlider">
        <div class="item-slider-left" [ngClass]="{'isSelect': isItemSelect(item.text)}" (click)="goItem(item.text)">
          <i [class]="item.icon"></i>
          <span>{{item.text}}</span>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="dashboard">
    <router-outlet></router-outlet>
  </div>
  <div class="slider-right">
    <span class="slider-right-title">Details</span>
    <div class="slider-right-img">
      <img src="../../../assets/user.png" alt="">
    </div>
    <div class="content-slider-right">
      <div class="item-slider-right">
        <span class="label">Name: </span>
        <span class="info-text">
          {{(userSelected$ | async).firstName}} {{(userSelected$ | async).lastName}}
        </span>
      </div>
      <div class="item-slider-right">
        <span class="label">Description: </span>
        <span class="info-text">
          {{ (userSelected$ | async).description}}
        </span>
      </div>
      <div class="item-slider-right">
        <span class="label">Email: </span>
        <span class="info-text">
          <span>{{(userSelected$ | async).email}}</span>
        </span>
      </div>
      <div class="item-slider-right">
        <span class="label">Celphone: </span>
        <span class="info-text">
          <span>{{(userSelected$ | async).celphone}}</span>
        </span>
      </div>
      <div class="item-slider-right">
        <span class="label">Birthdate: </span>
        <span class="info-text">
          <span>{{(userSelected$ | async).birthdate}}</span>
        </span>
      </div>
      <div class="item-slider-right">
        <span class="label">Gender: </span>
        <span class="info-text">
          <span>{{(userSelected$ | async).gender}}</span>
        </span>
      </div>
      <div class="item-slider-right">
        <span class="label">Age: </span>
        <span class="info-text">
          <span>{{(userSelected$ | async).age}}</span>
        </span>
      </div>
      <div class="item-slider-right">
        <span class="label">User Type: </span>
        <span class="info-text">
          <span>{{(userSelected$ | async).userType}}</span>
        </span>
      </div>
      <div class="item-slider-right">
        <span class="label">Password: </span>
        <span class="info-text">
          <span>{{(userSelected$ | async).password}}</span>
        </span>
      </div>
    </div>
  </div>
</div>