@import '../../../styles/base/mixins.scss';

.container {
  width: 1000px;
  min-height: 542px;
  margin: auto;
  border-radius: 8px;
  background: var(--white);
  @include box-shadow-gay();
  @include flex();
}

.slider-left {
  padding: 1rem;
  margin-top: 16px;
  width: 225px;
  @include flex(center, flex-center, column);
  .slider-left-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--blue-2);
  }
  .content-slider-left {
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    .item-slider-left {
      width: 100%;
      height: 40px;
      padding: 6px 6px 6px 3rem;
      box-sizing: border-box;
      cursor: pointer;
      color: var(--gray-1);
      @include flex(center, flex-start);
      &.isSelect {
        color: var(--blue-2);
        font-weight: bold;
      }
      &:hover {
        background: var(--blue-1);
      }
      i {
        font-size: 18px;
        margin-right: 16px;
      }
    }
  }
}

.dashboard {
  padding: 1rem;
  flex: auto;
  background: var(--blue-3);
  .list-users {
    margin-top: 1rem;
  }
}

.slider-right {
  width: 250px;
  padding: 1rem;
  background: var(--blue-3);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  @include flex(center, flex-start, column);
  .slider-right-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--dark);
  }
  .slider-right-img {
    height: 150px;
    width: 150px;
    border-radius: 8px;
    margin-top: 1rem;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 16px;
    }
  }
  .content-slider-right {
    width: 100%;
    margin-top: 1rem;
    @include flex($direction: column);
    .item-slider-right {
      padding: 8px 0;
      border-bottom: 1px solid var(--blue-2);
      @include flex(center);
      &:last-child {
        border-bottom: none;
      }
      .label {
        font-size: 14px;
        color: var(--dark);
        font-weight: bold;
        margin-right: 12px;
      }
      .info-text {
        font-size: 12px;
        color: var(--gray-1);
      }
    }
  }
}
