<ng-container *ngIf="user">
  <div class="item-user" [ngClass]="{'isSelected': isSelected}">
    <div class="content-item" (click)="userE.emit(user)">
      <div class="img">
        <img src="../../../assets/user.png" alt="">
      </div>
      <div class="info">
        <span>{{user.firstName}} {{user.lastName}}</span>
        <span>{{user.description}}</span>
      </div>
    </div>
    <div class="icons" [ngClass]="{'isStar': isStar}">
      <div class="item-icon star" (click)="addFavorite(user)">
        <i class="fas fa-star"  [ngClass]="{'isSelected': user.favorite}"></i>
        <span class="text-icon">Favorite</span>
      </div>
      <div class="item-icon update" (click)="goToCrud('update', user)" *ngIf="!isStar">
        <i class="fas fa-pen"></i>
        <span class="text-icon">Update</span>
      </div>
      <div class="item-icon delete" (click)="deleteUser.emit(user)" *ngIf="!isStar">
        <i class="fas fa-trash"></i>
        <span class="text-icon">Delete</span>
      </div>
    </div>
  </div>
</ng-container>