@import '../../../styles/base/mixins.scss';

.item-user {
  background: var(--white);
  border-radius: 16px;
  margin-bottom: 16px;
  height: 60px;
  padding: 8px;
  @include flex(center, space-between);
  @include box-shadow-gay-2();
  &.isSelected {
    @include box-shadow-blue-1();
  }
  .content-item {
    font-size: 14px;
    color: var(--gray-1);
    cursor: pointer;
    flex: 1;
    @include flex();
    .img {
      height: 48px;
      width: 48px;
      margin-right: 8px;
      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }
    .info {
      @include flex(stretch, center, column);
    }
  }
  .icons {
    width: 115px;
    font-size: 14px;
    color: var(--gray-1);
    flex: 0.8;
    @include flex($justifyContent: space-between);
    &.isStar {
      flex: none;
      @include flex(center, center);
    }
    .item-icon {
      flex: auto;
      cursor: pointer;
      padding: 8px;
      border-radius: 50%;
      box-sizing: border-box;
      margin-right: 12px;
      @include flex(center, flex-start, column);
      &.star,
      &.update,
      &.delete {
        &:hover {
          background: var(--blue-1);
        }
      }
      &.star {
        color: var(--gray-1);
        i {
          &.isSelected {
            color: var(--green);
          }
        }
      }
      &.update {
        color: var(--blue-2);
      }
      &.delete {
        color: var(--red-1);
      }
      span {
        font-size: 12px;
      }
    }
  }
}
