/* You can add global styles to this file, and also import other style files */
@import './styles/base/mixins.scss';

body {
    font-family: 'Source Sans Pro', sans-serif;
    height: 100vh;
    background: var(--blue-1);
    margin: 0;
    @include flex(center, center);
}