@mixin flex($alignItems: stretch, $justifyContent: flex-start, $direction: row) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-direction: $direction;
}

@mixin box-shadow-gay { 
  box-shadow: 0px 0px 15px 0px var(--gray-1);
}

@mixin box-shadow-gay-2 { 
  box-shadow: 0px 0px 5px 0px var(--gray-1);
}

@mixin box-shadow-blue-1 { 
  box-shadow: 0px 0px 5px 1px var(--blue-2);
}
